<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skynie">
        <activity
            android:name=".views.MainActivity"
            android:exported="false" />
        <activity
            android:name=".views.TrailerActivity"
            android:exported="false" />
        <activity android:name=".views.AllMoviesActivity" />
        <activity
            android:name=".views.TicketDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".views.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".views.SeatsActivity"
            android:exported="false" />
        <activity
            android:name=".views.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".views.FilmDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".views.VerifyOTP_Activity"
            android:exported="false" />
        <activity
            android:name=".views.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".views.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".views.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".views.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".views.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Facebook App ID -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <!-- Facebook Client Token -->
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="2d2634232a19691f7c1014e851e5b1f0"/>

        <!-- Facebook Login Activity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- Google Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>



    </application>

</manifest>